<template name="Account">
	<div id="account" class="page">
		<h1 class="text-center">My Account</h1>

		<div class="col-sm-12 text-center"><a href="{{pathFor route='orders'}}">View Orders</a></div>


		<label>Account</label>
		<div class="row col-sm-6">
			<div class="col-xs-4 col-sm-12">Full name</div>
			<div class="col-xs-8 col-sm-12"><input type="text" id="accountName" placeholder="Full Name" value="{{profile.name}}"></div>
		</div>
		<div class="row col-sm-6">
			<div class="col-xs-4 col-sm-12">Email</div>
			<div class="col-xs-8 col-sm-12"><input type="email" id="accountEmail" placeholder="Email" value="{{email}}" disabled></div>
		</div>
		<!-- <div class="row col-sm-6">
		<div class="col-xs-4 col-sm-12">Password</div>
		<div class="col-xs-8 col-sm-12"><input type="password" placeholder="*********"></div>
	</div> -->

	<div class="row col-sm-6">
		<div class="col-xs-4 col-sm-12">Phone</div>
		<div class="col-xs-8 col-sm-12"><input type="text" id="accountPhone" placeholder="Phone" value="{{profile.phone}}"></div>
	</div>
	<div class="row col-sm-12">
		<a href="#" class="button blue" id="accountSave">Save Account Details</a>
	</div>

	{{#if isVendor currentUser._id}}
	<!-- Bank Account Information -->
	<label>Bank Account Information</label>
	<form id="bank-input" class="{{#if haveVendorBank}}hidden{{/if}}">
		<div class="row col-sm-6">
			<div class="col-xs-8 col-sm-12">
				<label for="routingNumber">Routing # </label>
				<input type="text" placeholder="Routing #" id="routingNumber" required class="bankAccountInfo"/>
				<div class="row">
					<span class="help-block" id="routingHelp"></span>
				</div>
			</div>
		</div>

		<div class="row col-sm-6">
			<div class="col-xs-8 col-sm-12">
				<label for="accountNumber">Account # </label>
				<input type="text" placeholder="Account #" id="accountNumber" required class="bankAccountInfo"/>
				<div class="row">
					<span class="help-block" id="accountHelp"></span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-8 col-sm-12">
				<button id='saveBankInfo' class="button blue">Save</button>
			</div>
		</div>
	</form>
	<div id="bank-update" class="{{#if haveVendorBank}}{{else}}hidden{{/if}}">
		<div class="row">
			<div class="col-xs-8 col-sm-12">
				<button id='new-bank' class="button blue">Update Your Bank Account</button>
			</div>
		</div>
	</div>
	{{/if}}

	<label>Payment</label>
	<div class="row col-sm-6">
		<div class="col-xs-4 col-sm-12">Shipping</div>
		<div class="col-xs-8 col-sm-12">
			<div class="col-xs-12"><input type="text" id="shippingName" placeholder="Full Name" value="{{profile.shipping.fullName}}"></div>
			<div class="col-xs-12"><input type="text" id="shippingStreet" placeholder="Street Address" value="{{profile.shipping.addressOne}}"></div>
			<div class="col-xs-12"><input type="text" id="shippingCity" placeholder="City" value="{{profile.shipping.city}}"></div>
			<div class="col-xs-12"><input type="text" id="shippingState" placeholder="State" value="{{profile.shipping.state}}"></div>
			<div class="col-xs-12"><input type="text" id="shippingZip" placeholder="Zip Code" value="{{profile.shipping.zipcode}}"></div>
		</div>
	</div>
	<div class="row col-sm-6">
		<div class="col-xs-4 col-sm-12">Billing</div>
		<div class="col-xs-8 col-sm-12">
			<div class="col-xs-12"><input type="text" id="billingName" placeholder="Full Name" value="{{profile.billing.fullName}}"></div>
			<div class="col-xs-12"><input type="text" id="billingStreet" placeholder="Street Address" value="{{profile.billing.addressOne}}"></div>
			<div class="col-xs-12"><input type="text" id="billingCity" placeholder="City" value="{{profile.billing.city}}"></div>
			<div class="col-xs-12"><input type="text" id="billingState" placeholder="State" value="{{profile.billing.state}}"></div>
			<div class="col-xs-12"><input type="text" id="billingZip" placeholder="Zip Code" value="{{profile.billing.zipcode}}"></div>
		</div>
	</div>
	<div class="row col-sm-12">
		<a href="#" class="button blue" id="paymentSave">Save Billing Details</a>
	</div>

	<!-- request vendor access -->
	{{#unless isVendor currentUser._id}}
	<label>Vendor</label>
	<div class="row col-sm-12">
		{{#if vendorRequestSent}}
		{{#if vendorRequestApproved}}
		<button type="button" class="button gray">Approved!</button>
		{{else}}
		<button type="button" class="button gray">Awaiting Approval</button>
		{{/if}}
		{{else}}
		<button id="vendor-request" type="button" class="button orange">Request Vendor Access</button>
		{{/if}}
	</div>
	{{/unless}}
</div>
</template>
