<template name="AddProduct">
	<div id="add-product">
		<form id="addProduct" novalidate>
			<div id="image-upload-window">
				<img src="icons/white_upload.svg" alt="Upload">
				<h4>Upload product image</h4>
			</div>
			<input name="name" type="text" placeholder="Title" required>
			<textarea type="text" name="description" placeholder="Description" rows="8" required></textarea>
			<input name="price" type="text" class="half" placeholder="Price" required>
			<input name="shippingPrice" type="text" class="half" placeholder="Shipping rate" required>
			<div>&nbsp;</div>
			<label>Select all size available</label>
			<ul class="size-select list-inline">
				{{#each sizes}}
					<li>{{this}}</li>
				{{/each}}
			</ul>
			<label>Percentage going to charity</label>
			<input type="range" name="percentage" id="percentToCharity" value="50" min="0" max="100" data-show-value="true">
		
			<button type="submit" class="button blue" href="{{pathFor route='vendorProducts'}}">Add product</button>
		</form>
	</div>
</template>