<template name="AddCharity">
	<div id="add-charity">
		<section class="text-center">
			<h2>Select your charity</h2>

			<p>ChangeUp donated 8% of your total cart's prince to a charity of your choosing. No aded costs will be added to your total! All you have to do is decide which cause or charity who wish to contribute to.</p>
		</section>

		<ul class="charity-items" id="charities">
			{{#each charities}}
			<li class="charity">
				<div class="col-xs-9">
					<h3>{{name}}</h3>
					<div>{{category}}</div>
				</div>
				<div class="col-xs-3 text-right">
					<img src="images/arc_logo.png" alt="Arc Logo">
				</div>
				<p class="col-xs-12">{{description}}</p>
				<button type="button" class="button blue">Select</button>
				<!-- href="{{pathFor route='vendorProfile'}}" -->
			</li>
			{{/each}}
		</ul>
	</div>
</template>