/*****************************************************************************/
/* Admin: Style */
/*****************************************************************************/
@cyan: #22ADDB;					/* Buttons, ratings, price, and a:hover */
@tangerine: #FC6E5E;			/* Buttons, time remaining, and like button */
@offwhite: #F1F1F1;				/* Navbar background */
@beige: #E6E4DB;				/* Section divider */
@gray: #919191;					/* Buttons */
@charcoal: #2A2A2A;				/* Footer background */
@mocha: #434343;				/* Titles */
@silver: #C7C7C7;				/* Body text */


/**
* extra upload images
*/
ul.product-uploaded-images{
	padding: 1rem;
	margin: 0;
	text-align: center;
	li.pui-item {
		display: inline-block;
		position: relative;
		width: 46px;
		height: 50px;
		margin: 1rem 0.5rem;
		background-color: #eee;
		overflow: hidden;
		input.overlay{
			z-index: 99;
		}
		img{
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			height: 100%;
		}
	}
}


/**
* Orion Admin Styles
*/

.orion-bootstrap-admin{
	.index-table{ 
		td,th{
			color : #434343;
		}
	}
}
/**
* End orion Admin styles
*/

.queue-item {
	display: inline-block;
	padding: 15px 0;
	border-top: 8px solid @beige;
	.button {
		width: 100%;
		margin: 0 0 20px;
	}
	.subtotal {
		display: inline-block;
		width: 100%;
		margin: 15px auto 0;
		padding: 15px 0 0;
		border-top: 1px solid @gray;
	}
}

#add-product {
	max-width: 1010px;
	margin: 0 0 40px;
	padding: 0 0 10px;
	.col-sm-6 {
		margin: 0 auto 25px;
		padding: 0;
		text-align: left;
	}
}

#image-upload-window {
	display: inline-block;
	width: 100%;
	padding: 50px 0 40px;
	background: @gray;
	position: relative;
	text-align: center;
	.progress{
		width: 300px;
    display: block;
    margin: 0 auto;
	}
	h4 {
		color: @silver;
	}
	img {
		width: 230px;
		margin: 0 0 10px;
	}
	#s3-upload-container{
		position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	}
}

label#size-select-label {
	padding: 0 7px 5px;
}

#size-toggle {
	margin-left: 73px;
}

ul.size-select {
	display: inline-block;
	width: 100%;
	max-width: 400px;
	margin: 0 auto 20px;
		li {
		width: 44px;
		height: 44px;
		text-align: center;
		font-size: 17px;
		line-height: 2.4;
		border: 1px solid @silver;
		transition: color 0.3s, background 0.3s;
		cursor: pointer;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		user-select: none;
		&.selected {
			color: white;
			background: @cyan;
		}
	}	
}

ul.charity-items{
	padding-left: 0;
	li.charity{
		list-style: none;
	}
}

ul.select-list-items{
	padding: 0;
}

.select-list-item {
	display: block;
	clear: both;
	width: 90%;
	max-width: 300px;
	margin: 10px auto;
	padding: 10px;
	font-size: 15px;
	border: 1px dashed @gray;
	img {
		width: 18px;
		margin: 3px 0;
	}
}

#vendor-profile{
	.upload-image{
		position: relative;
	}
	.progress{
		width: 300px;
    display: block;
    margin: 0 auto;
	}
}

.order-count {
    position: absolute;
    top: 2px;
    right: 12px;
    width: 35px;
    padding: 5px 0;
    color: white;
    background: #fc6e5e;
    font-size: 18px;
    border-radius: 500px;
}

#fulfillment {
	h4 {
		color: @mocha;
		font-weight: bold;
	}
	.section-header {
		display: inline-block;
		width: 100%;
		padding: 10px 0;
		border-bottom: 1px solid @silver;
	}
	.section-footer {
		display: inline-block;
		width: 100%;
		padding: 10px 0;
		border-top: 1px solid @silver;
	}
	.inventory {
		color: @mocha;
		.row {
			.text-left {
				color: @silver;
			}
		}
		#totals {
			padding: 15px;
			.total {
				.text-left {
					color: @mocha;
				}
			}
		}
	}
	.queue-item {
		.row {
			display: inline-block;
			width: 100%;
			margin: auto;
			padding: 15px 0;
			&:not(:last-child) {
				border-bottom: 1px solid @silver;
			}
			h4 {
				margin: 0 0 10px;
			}
		}
	}
}

/* Tablet and Desktop */
@media (min-width: 768px) {
	#vendor-orders {
		.nav-tabs {
			max-width: 1010px;
			margin: 5px auto;
			background: white;
			border-radius: 4px;
			box-shadow: 0 1px 10px 5px #ddd;
			overflow: hidden;
			.active a {
				color: white;
				background: @cyan;
			}
			a {
				border: none;
			}
		}
		.tab-content {
			display: inline-block;
			width: 100%;
			max-width: 1020px;
			margin: 0 auto 50px;
		}
		.queue-item {
			float: left;
			width: 100%;
			max-width: 501px;
			margin: 5px 4px;
			padding: 25px 25px 5px;
			background: white;
			text-align: left;
			font-size: 17px;
			border: none;
			border-radius: 4px;
			box-shadow: 0 1px 10px 5px #ddd;
			.col-xs-6 {
				margin: 0 0 15px;
				padding: 0;
			}
		}
	}

	#fulfillment {
		margin: 0 0 40px;
		.inventory {
			width: 594px;
			margin: 5px;
			padding: 0;
			#items {
				padding: 0 15px;
			}
			.row {
				padding: 8px 0;
				.pull-right {
					color: @mocha;
				}
			}
			#totals {
				padding: 0 15px;
				.subtotal {
					padding: 0 15px 5px;
					border-bottom: 1px solid @silver;
				}
				.total {
					padding: 10px 15px;
				}
			}
		}
		.queue-item {
			max-width: 400px;
			margin: 5px;
			padding: 0;
			text-align: left;
			vertical-align: top;
		}
	}

	#vendor-products {
		.inventory {
			#items {
				max-width: 1020px;
				background: transparent;
				.item {
					width: 99.1%;
					height: 158px;
					margin: 5px;
					text-align: left;
					background: white;
					border: none;
					border-radius: 5px;
					box-shadow: 0 1px 10px 5px #ddd;
					overflow: hidden;
					.portrait {
						img {
							margin: -15px;
							height: 158px;
							object-fit: cover;
						}
					}
					.details {
						height: 100%;
						strong {
							font-size: 25px;
							line-height: 1;
						}
						small {
							font-size: 16px;
						}
						h4 {
							position: absolute;
							bottom: -5px;
							font-size: 24px;
						}
					}
				}
			}
		}
	}
	.order-count {
		top: 15px;
		right: 20px;
		width: 44px;
		font-size: 24px;
	}
}

@media (min-width: 1034px) {
	#vendor-products {
		.inventory {
			#items {
				.item {
					width: 500px;
				}
			}
		}
	}
}
