<template name="Admin">
	<div id="admin" class="text-center">
		<img src="icons/logo_dark.svg" width="150" alt="ChangeUp">
		<div>&nbsp;</div>
		<form>
			<input type="email" placeholder="Email" required>
			<input type="password" placeholder="Password" required>
			<div class="check">
				<input type="checkbox" name="stay" value="stay">
				<label for="stay">Stay logged in</label>
				<span class="pull-right"><a href="{{pathFor route='recover'}}"><small>Forgot password?</small></a></span>
			</div>
			<a class="button blue" href="{{pathFor route='shop'}}">Sign in</a>
		</form>

		<p><a href="{{pathFor route='request'}}">Request a vendor account here.</a></p>
	</div>
</template>
