<template name="ChangePassword">
	<div id="change-password">
		<section>
			<p class="text-center">Please provide your current password in order to change it.</p>
		</section>
		
		<form>
			<input type="password" placeholder="Current password" required>
			<input type="password" placeholder="New password" required>
			<input type="password" placeholder="Confirm new password" required>
			<section>
				<a class="button blue" href="{{pathFor route='vendorProfile'}}">Update password</a>
				<a class="button clear gray" href="{{pathFor route='vendorProfile'}}">Cancel</a>
			</section>
		</form>
	</div>
</template>