<template name="Fulfillment">
	<div id="fulfillment">
		<div class="inventory">
			<div id="items">
				{{#each order}}
				<div class="item col-xs-12">
					<div class="portrait col-xs-5">
						<img src="/images/cart_image.png" alt="Item">
					</div>
					<div class="details col-xs-7">
						<strong>{{productName}}</strong>
						<div><small><!--Locally Roasted--></small></div>

						<h4>&#36;{{price}}</h4>
						<div><small>x{{quantity}} | {{size}} | {{color}}</small></div>
					</div>
				</div>
				{{/each}}
			</div>
		</div>

		<div class="queue-item">
			<div class="col-xs-6">
				<div><strong><small>{{billing.creditCardName}}</small></strong></div>
				<div><small>Customer</small></div>
			</div>
			<div class="col-xs-6">
				<div><strong><small>{{formatDate timestamp}}</small></strong></div>
				<div><small>Date placed</small></div>
			</div>
			<div class="col-xs-6">
				<div><strong><small>{{#if fufilled}}Fulfilled {{else}} Not Fulfilled{{/if}}</small></strong></div>
				<div><small>Order status</small></div>
			</div>
			<div class="col-xs-6">
				<div><strong><small>{{#if processed}}Processed{{else}}Not Processed {{/if}}</small></strong></div>
				<div><small>Payment status</small></div>
			</div>
			<div class="subtotal">
				<div class="col-xs-6">
					<div>Subtotal</div>
				</div>
				<div class="col-xs-6 text-right">
					<div>${{subTotal}}</div>
				</div>
				<div class="col-xs-6">
					<div>Shipping</div>
				</div>
				<div class="col-xs-6 text-right">
					<div>$6.00</div>
				</div>
				<div class="col-xs-6">
					<div>Tax</div>
				</div>
				<div class="col-xs-6 text-right">
					<div>$2.00</div>
				</div>
			</div>
			<div class="subtotal">
				<div class="col-xs-6">
					<div>Total</div>
				</div>
				<div class="col-xs-6 text-right">
					<div><strong>${{price}}</strong></div>
				</div>
			</div>
		</div>

		<section>
			<a class="button blue" href="{{pathFor route='confirmation'}}">Fulfill order</a>
			<a class="button clear gray" href="">Email customer</a>
		</section>
	</div>
</template>