<template name="Account">
	<div id="account">
		<h1 class="text-center">My Account</h1>

		<div class="col-xs-12 text-center"><a href="{{pathFor route='orders'}}">View orders</a></div>

		<label>Info</label>
		<div class="row">
			<div class="col-xs-4">Full name</div>
			<div class="col-xs-8">John Smith</div>
		</div>
		<div class="row">
			<div class="col-xs-4">Location</div>
			<div class="col-xs-8">Hamden, CT</div>
		</div>
		<div class="row">
			<div class="col-xs-4">Age</div>
			<div class="col-xs-8">23</div>
		</div>

		<label>Account</label>
		<div class="row">
			<div class="col-xs-4">Email</div>
			<div class="col-xs-8">johnsmith@email.com</div>
		</div>
		<div class="row">
			<div class="col-xs-4">Password</div>
			<div class="col-xs-8">******</div>
		</div>
		<div class="row">
			<div class="col-xs-4">Phone</div>
			<div class="col-xs-8">1 (203) 555-5555</div>
		</div>

		<label>Payment</label>
		<div class="row">
			<div class="col-xs-4">Credit card</div>
			<div class="col-xs-8">Card ending in 5555</div>
		</div>
		<div class="row">
			<div class="col-xs-4">CVV</div>
			<div class="col-xs-8">123</div>
		</div>
		<div class="row">
			<div class="col-xs-4">Exp. date</div>
			<div class="col-xs-8">10/20</div>
		</div>
		<div class="row">
			<div class="col-xs-4">Shipping</div>
			<div class="col-xs-8">
				<div>John Smith</div>
				<div>1234 Address St</div>
				<div>Hamden, CT. 04618</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">Billing</div>
			<div class="col-xs-8">
				<div>John Smith</div>
				<div>1234 Address St</div>
				<div>Hamden, CT. 04618</div>
			</div>
		</div>

		<label>Connect</label>
		<div class="row">
			<div class="col-xs-4">Facebook</div>
			<div class="col-xs-8">
				<div class="onoffswitch">
					<input type="checkbox" name="facebook" class="onoffswitch-checkbox" id="facebook" checked>
					<label class="onoffswitch-label" for="facebook"></label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">Twitter</div>
			<div class="col-xs-8">
				<div class="onoffswitch">
					<input type="checkbox" name="twitter" class="onoffswitch-checkbox" id="twitter" checked>
					<label class="onoffswitch-label" for="twitter"></label>
				</div>
			</div>
		</div>
	</div>
</template>