/*****************************************************************************/
/* Account: Style */
/*****************************************************************************/
@cyan: #22ADDB;					/* Buttons, ratings, price, and a:hover */
@tangerine: #FC6E5E;			/* Buttons, time remaining, and like button */
@offwhite: #F1F1F1;				/* Navbar background */
@beige: #E6E4DB;				/* Section divider */
@gray: #919191;					/* Buttons */
@charcoal: #2A2A2A;				/* Footer background */
@mocha: #434343;				/* Titles */
@silver: #C7C7C7;				/* Body text */

#account, #vendor-profile {
	padding: 6px 0 20px;
	label {
		width: 100%;
		margin: 0;
		padding: 35px 15px 10px;
		color: @mocha;
		font-weight: bold;
		border-bottom: 1px solid @gray;
	}
	.row {
		padding: 15px;
		color: @gray;
		border-bottom: 1px solid @gray;
		.col-xs-8 {
			color: @mocha;
			text-align:	right;
			input {
				width: 100%;
				text-align: right;
				border: none;
				&::-webkit-input-placeholder { color: @mocha; }
				&:-ms-input-placeholder { color: @mocha; }
				&::-moz-placeholder { color: @mocha; }
				&:-moz-placeholder { color: @mocha; }
			}
		}
	}
}

/* Tablet and Desktop */
@media (min-width: 768px) {
	#account {
		padding: 6px 30px 20px;
		text-align: left;
		.row {
			border: none;
			div.col-sm-12 {
				text-align: left;
				input, textarea {
					max-width: 300px;
					margin: 5px 0 0;
					padding: 8px 15px;
					text-align: left;
					color: @mocha;
					background: @offwhite url('icons/edit_pencil.svg') no-repeat center right;
					background-size: 15px;
					background-position: 95%;
					border: none;
					border-radius: 3px;
					outline: none;
					resize: disabled;
					&::-webkit-input-placeholder { color: @gray; }
					&:-ms-input-placeholder { color: @gray; }
					&::-moz-placeholder { color: @gray; }
					&:-moz-placeholder { color: @gray; }
				}
			}
			.onoffswitch {
				float: none;
			}
		}
	}

	#orders {
		br {
			display: none;
		}
		.cart {
			width: 100%;
		}
		#overview {
			display: inline-block;
			width: 100%;
			text-align: left;
			.col-sm-6 {
				min-height: 150px;
			}
		}
		#total {
			.col-xs-6:first-child {
				text-align: left;
			}
		}
	}
}