<template name="Orders">
	<section class="text-center page-header">
		<a class="back-button" href="/account"><img src="/icons/small_arrow_gray.svg" alt="Back"></a>
		<h2>My Orders</h2>
	</section>

	<div id="orders" class="page">
		<div class="cart">
			<!-- <section id="overview" class="text-center">
				<div class="col-sm-6">
					<h4>Ship to:</h4>
					<div>{{shipping.fullName}}</div>
					<div>{{shipping.addressOne}}</div>
					<div>{{shipping.city}}, {{shipping.state}}. {{shipping.zipcode}}</div>
				</div>
				<br>
				<div class="col-sm-6">
					<h4>Bill to:</h4>
					<div>{{shipping.fullName}}</div>
					<div>{{shipping.addressOne}}</div>
					<div>{{shipping.city}}, {{shipping.state}}. {{shipping.zipcode}}</div>
				</div>
				<br>
				<div class="col-sm-6">
					<h4>Pay with:</h4>
					<div>{{billing.cardBrand}} ending with {{billing.lastFour}}</div>
					<div>Exp. 01/31</div>
				</div>
				<br>
				<div class="col-sm-6">
					<h4>Charity:</h4>
					<div>John Smith</div>
					<div>World Hunger</div>
				</div>
			</section> -->
			{{#each transactions}}
			<h3 class="divider">Order: {{index @index}}</h3>

			<div id="items">
				{{#each order}}
				<div class="item col-xs-12">
					<div class="portrait col-xs-5">
						<img src="{{image.url}}" alt="Item">
					</div>
					<div class="details col-xs-7">
						<strong>{{productName}}</strong>
						<div><a href="{{pathFor route='vendor' data=this}}"><small>{{storeName}}</small></a></div>

						<h4>&#36;{{price}}</h4>
						<div><small>x{{quantity}} {{#if size}}| {{size}}{{/if}} {{#if color}}| {{color}}{{/if}}</small></div>

					</div>
				</div>
				{{/each}}
			</div>

			{{#with totals}}
			<div id="total">
				<div class="col-xs-12">
					<div class="col-xs-6">Subtotal</div>
					<div class="col-xs-6 text-right">&#36;{{subTotal}}</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-6">Shipping</div>
					<div class="col-xs-6 text-right">&#36;{{shipping}}</div>
				</div>
				<hr>
				<div class="col-xs-12">
					<div class="col-xs-6"><strong>Total</strong></div>
					<div class="col-xs-6 text-right"><strong>&#36;{{total}}</strong></div>
				</div>
			</div>
			{{/with}}
			{{/each}}
		</div>
	</div>
</template>
