<template name="Charity">
	<div class="charity">
		<section class="text-center">
			<img src="/images/arc_logo.png" alt="Arc Logo">
			<h2>{{name}}</h2>

			<p class="col-xs-12">{{description}}</p>
		</section>

		<section id="bio" class="text-center">
			<h3>About</h3>
			<p>{{about}}</p>
		</section>

		<section class="blue text-center">
			<h2>Support us</h2>

			<p>Support "{{name}}" by donating to them directly, or by purchasing your newest gear from ChangeUp.</p>

			<a class="button white" href="{{pathFor route='shop'}}">View products</a>
			{{#if websiteLink}}
			<a class="button clear white" href="{{websiteLink}}" target="_blank">Visit website</a>
			{{/if}}
		</section>
	</div>
</template>
