<template name="Charity">
	<div class="charity">
		<section class="text-center">
			<img src="images/arc_logo.png" alt="Arc Logo">
			<h2>American Refugee Committee</h2>

			<p class="col-xs-12">The American Refugee Committee is an international, nonprofit, nonsectarian organiztion that has provided humanitarian assistance and training to millions of beneficiaries over the past 30 years.</p>
		</section>

		<section id="bio" class="text-center">
			<h3>About</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</section>

		<section class="blue text-center">
			<h2>Support us</h2>

			<p>Support the American Refugee Committee by donating to them directly, or by purchasing your newest gear from ChangeUp.</p>

			<a class="button white" href="{{pathFor route='shop'}}">View products</a>
			<a class="button clear white" href="" target="_blank">Visit website</a>
		</section>
	</div>
</template>
