<template name="Login">
	<div id="login" class="login-screen">
	{{> Navbar }}
		<div>
			<a href="{{pathFor route='shop'}}"><img src="images/logo.svg" alt="ChangeUp"></a>

			<a id="facebook" class="button facebook">Sign In with Facebook</a>

			<div class="or-bar">
				<span class="ob-line"></span>
				<span class="ob-center">OR</span>
				<span class="ob-line"></span>
			</div>

			<form id="loginForm" novalidate>
				<input type="email" name="email" placeholder="Email" required>
				<input type="password" name="password" placeholder="Password" required>
				<p id="forgotaccount"><a href="{{pathFor route='forgotPassword'}}">Forgot Your password?  click here.</a></p>
				<!-- <div class="check">
					<input type="checkbox" name="stay" value="stay">
					<label for="stay">Stay logged in</label>
				</div> -->
				<button class="button orange" type="submit">Sign In</button>
			</form>

			<p><a href="{{pathFor route='register'}}">Don't have an account yet? Sign Up!</a></p>
		</div>
		{{> Footer }}
	</div>
</template>
