<template name="Register">
	<div id="register" class="login-screen">
		<div class="animated zoomIn">
			<h4>Register</h4>

			<img src="icons/logo_dark.svg" alt="ChangeUp">

			<form id="register_form" novalidate>
				<input type="text" placeholder="Name" name="name" required>
				<input type="email" placeholder="Email" name="email" required>
				<input type="password" placeholder="Password" name="password" required>
				<input type="password" placeholder="Confirm password" name="passwordConfirm" required>
				<div class="check">
					<input type="checkbox" name="stay" value="stay">
					<label for="stay">Stay logged in</label>
				</div>
				<button type="submit" class="button orange">Register</button>
			</form>

			<p><a href="{{pathFor route='login'}}">Already have an account? Sign in.</a></p>
		</div>
	</div>
</template>
