<template name="About">
	<div class="about">
		<section class="text-center" id="about-header">
			<div class="container animated fadeInUp">
				<h2>Motivating Global Impact.</h2>

				<p>One purchase at a time</p>

				<a class="button blue" href="{{pathFor route='shop'}}">Shop</a>
				<a class="button orange" href="{{pathFor route='charities'}}">View charities</a>
			</div>
		</section>

		<section class="text-center black" id="about-who">
			<div class="container">
				<h2>Who we are</h2>

				<p>ChangeUp is an online marketplace where a portion of every transaction is allocated to one of our charitable partners. Our website houses a variety of unique products crafted by self-sustaining entrepreneurs and small business owners. The company hosts vendors who sell a variety of products including items such as first-rate apparel, modern accessories, and diversely contemporary artwork.</p>
			</div>
		</section>

		<section class="text-center blue" id="about-what">
			<div class="container">
				<h2>What gets us excited?</h2>

				<p>ChangeUp was created from the meeting of two ideas: 1. Enable artists, creators and small business owners to live in their passion and share their products with the world 2. Streamline donations to the best charities around, in order to improve their impact and reach.</p>

				<a class="button clear white" href="{{pathFor route='shop'}}">Shop now</a>
			</div>
		</section>

		<section class="text-center gray" id="about-where">
			<div class="container">
				<div class="col-sm-6">
					<h2>Where does the money go?</h2>

					<p>Many non-profit companies today suffer from an acute lack of transparency and operational efficiency. We take care to partner only with organizations that have 4 star ratings on <a href="www.charitynavigator.org" target="_blank">Charity Navigator</a>, and send the vast majority of their proceeds straight to the field. We're confident that the organizations we partnered with are among the most impactful charities in the world.</p>
				</div>
			</div>
		</section>

		<section class="text-center" id="about-when">
			<div class="container">
				<h2>When does the money reach a charity?</h2>

				<p>ChangeUp sends all charitable contributions to the selected organization twice every month. This two week period ensures we’re able to protect vendors both during and following all credit transactions, and enable our consumers to make returns. </p>

				<img src="images/about-when.png" width="90%" alt="When">
			</div>
		</section>

		<section class="text-center" id="about-why">
			<div class="container">
				<div class="col-sm-6 col-sm-offset-6">
					<h2>Why support ChangeUp?</h2>

					<p>Our vision is global. We believe the exchange of goods and services is an integral part of our everyday lives. Why not take the opportunity to inject charitable giving into existing forms of transaction? And it doesn’t have to stop at eCommerce. Imagine what happens when this model moves beyond the exchange of goods to include services, content, media.</p>

					<p>A new global mindset is beginning to form. We want to help lead the way.</p>
				</div>
			</div>
		</section>

		<section class="text-center" id="about-how">
			<div class="container">
				<h2>How does our revenue sharing model work?</h2>

				<p>Transparency is a core part of our mission.</p>

				<div class="col-sm-4">
					<img src="icons/changeup1.5.svg" alt="Profit">
					<p>ChangeUp takes 1.5% of every transaction as revenue.</p>
				</div>
				<div class="col-sm-4">
					<img src="icons/stripe3.svg" alt="Stripe">
					<p>Approximately 3% of every transaction is allocated to Stripe, our payment provider.</p>
				</div>
				<div class="col-sm-4">
					<img src="icons/charity4.svg" alt="Charity">
					<p>A minimum of 4% of every transaction is allocated to one of our charitable partners. (This amount can be raised at the vendor’s discretion).</p>
				</div>

				<div class="col-xs-12 box-content">This means that Vendors are able to retain over 91% of every transaction on the site - which is more than every other major marketplace on the web today.</div>
			</div>
		</section>

		<section class="text-center" id="about-next">
			<div class="container">
				<h2>What’s next for us?</h2>

				<p>Well, a whole lot. And to make tha happen we need marketers, writers, and multi-talented passionate people to help us out. We would LOVE your help.</p>
				
				<p>Really, we’re not kidding. None of our team plans to get rich off ChangeUp - that’s not why we’re here. We have a small budget and limited human resources. Our potential to grow as a business depends on the excitement and belief in our mission that we can inspire in people like you. No matter what you do for work and where your talents lie - if you’re excited by our mission, we’d love your help!</p>

				<a href="/contact" class="button red">Contact us</a>
			</div>
		</section>
	</div>
</template>
