<template name="category">
	{{>categoryBar}}
	<section class="category-page-item">
		<header class="cpi-header">
			<h2>{{category}}</h2>
			<p class="cpi-description">This is where a short, one to two sentence description of the category would exist.</p>
		</header>
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<nav class="cpi-nav">
					<ul class="cpi-nav-items">
						{{#each subcategories}}
						{{#if selected}}
						<li class="cpi-nav-item selected" data-click-fitlersubcats>{{this}}</li>
						{{else}}
						<li class="cpi-nav-item" data-click-fitlersubcats>{{this}}</li>
						{{/if}}
						{{/each}}
						<li class="cpi-nav-item-more">View All Categories</li>
					</ul>
				</nav>
			</div>
			<div class="col-xs-12 col-sm-8">
				<ul class="cpi-subcategory-items row">
					{{#each subcategories}}
					<li data-click-fitlersubcats class="cpi-subcategory-item col-md-4 col-xs-6">
						<figure>
							<img src="/images/background_whatsnext.png">
							{{#if selected}}
							<figcaption class="selected">{{this}}</figcaption>
							{{else}}
							<figcaption>{{this}}</figcaption>
							{{/if}}
						</figure>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</section>
	<section class="category-page-item">
		<header class="cpi-products-header clearfix">
			<h2>Products</h2>
			{{#if showBtn}}
			<button data-click-showall class="button more-btn">View All Products</button>
			{{/if}}
		</header>
		<ul id="allItems" class="clearfix row">
			{{#each products}}
				{{#with this}}
					{{>productItems}}
				{{/with}}
			{{/each}}
		</ul>
	</section>
</template>