<template name="Billing">
	{{>categoryBar}}
  	<div class="push"></div>
	<div id="billing" class="page">
		<div id="steps">
			<div class="col-xs-4 step current"><a href="{{pathFor route='shipping'}}">Shipping</a></div>
			<div class="col-xs-4 step current"><a href="">Billing</a></div>
			<div class="col-xs-4 step"><a href="">Summary</a></div>
		</div>

		<form class="checkout-form" id="billing">
			<div class="check">
				<div class="col-xs-12">
					<input id="sameAs" type="checkbox" name="billing" value="billing">
					<label for="billing">Billing address same as shipping</label>
				</div>
			</div>
			<fieldset>
				<input value="{{fullName}}" name="fullName" type="text" placeholder="Full name" required>
				<input value="{{addressOne}}" name="addressOne"  type="text" class="address" placeholder="Address 1" required>
				<input value="{{addressTwo}}" name="addressTwo" type="text" class="address" placeholder="Address 2">
				<input value="{{city}}" name="city" type="text" class="half" placeholder="City" required>
				<input value="{{zipcode}}" name="zipcode" type="text" class="half" placeholder="Zip" required>
				<input value="{{state}}" name="state" type="text" class="half" placeholder="State" required>
				<input value="{{country}}" name="country" type="text" class="half" placeholder="Country" required>
			</fieldset>
			<h3 class="divider">Payment method</h3>
			<fieldset>
				<input value="{{creditCardNumber}}" name="creditCardNumber" type="text" placeholder="Credit card number" required>
				<input value="{{creditCardName}}" name="creditCardName" type="text" placeholder="Name on the card" required>
				<input type="text" value="{{cardExp}}" name="cardExp" class="half" placeholder="Exp. (MM/YY)" required>
				<input type="text" value="{{cardCvv}}" name="cardCvv" class="half" placeholder="CVV" required>
			</fieldset>
			{{#if loggedIn}}
			<fieldset>
				<input value="{{email}}" name="email" type="hidden" required>
			</fieldset>
			{{else}}
			<h3 class="divider">ChangeUp Account</h3>
			<fieldset>
				<input value="{{email}}" name="email" type="email" placeholder="Email" required>
				<input name="password" type="password" placeholder="Password" required>
			</fieldset>
			{{/if}}
			<div class="check">
				<div class="col-xs-12 hidden">
					<input type="checkbox" name="save" value="save" checked="checked">
					<label for="stay">Save information for quick purchase</label>
				</div>
				<div class="col-xs-12">
					<input type="checkbox" name="agree" value="agree">
					<label for="stay">I agree to the Terms &amp; Conditions</label>
				</div>
			</div>
			<div id="subtotal">
				<div class="col-xs-6 text-left"><strong>Total</strong></div>
				<div class="col-xs-6 text-right"><strong>${{cartTotals.total}}</strong></div>
			</div>
			<button id="billingBtn" type="submit" class="button orange">Next</button>
		</form>
	</div>
</template>