<template name="Item">
	<div class="item">
		<section class="text-center page-header">
			<a class="back-button" href="javascript:history.back()"><img src="/icons/small_arrow_gray.svg" alt="Back"></a>
			<h2>Product Info</h2>
		</section>

		<div class="product page-header">
			<div class="product-image col-sm-4" style="padding:1rem">
				{{#with product}}
					{{#if userLiked}}
						<div class="like-button" data-productid="{{_id}}"><img src="/icons/changeup_like_action.svg" alt="Like"></div>
					{{else}}
						<div class="like-button" data-productid="{{_id}}"><img src="/icons/changeup_like_noaction.svg" alt="Like"></div>
					{{/if}}

					{{#if image}}
						<div id="owl-example" class="owl-carousel">
						{{#each productImages}}
							<div><img src="{{url}}"></div>
						{{/each}}
						</div>
					{{else}}
						<img src="../../../images/noImage.png">
					{{/if}}
				{{/with}}
			</div>
			<div class="product-name col-xs-8 col-sm-6">
				<h4><strong>{{product.name}}</strong></h4>
				<a href="{{pathFor route='vendor' data=product}}">{{vendor.storeName}}</a>
			</div>
			<div class="price col-xs-4 col-sm-2">
				<h4>&#36;{{product.price}}</h4>
				<h6>Store Shipping: ${{vendor.shippingPrice}}</h6>
			</div>
			<div class="col-sm-8 product-item">
				<div class="hidden-sm hidden-md hidden-lg">
					{{#with product}}
						{{>ProductOptions}}
					{{/with}}
				</div>

				<div class="stats col-xs-12">
					<span class="likes">{{product.likeCount}} Likes</span>
					<span class="reviews">{{noOfReviews product.reviews}}</span>
					<span class="share openShareWidget pull-right"><img src="/icons/share_gray.svg" alt="Share"></span>
				</div>

				<div class="hidden-xs">
					<div class="col-xs-12">
						<div class="col-sm-8">
							<label>{{#with product}}<span class="percentage">{{percentToCharity}}%</span> will go to:{{/with}}
							<!-- Charity <img src="/icons/smallstar_blue.svg" width="15" alt="Charity"> --></label>
							<select id="charities-select">
								{{#each charities}}
								<option value="{{_id}}">{{name}}</option>
								{{/each}}
							</select>
						</div>

						<div class="col-sm-4">
							<label>Quantity</label>
							<input type="number" min="1" id="quantity" placeholder="1">
						</div>
					</div>
					{{#if fixingVendorsSize}}
					{{#unless product.oneSize}}
					<div class="col-xs-12">
						<label class="col-sm-6 col-md-12">Select a size</label>
						<ul class="size-select list-inline col-sm-6 col-md-12">
							{{#each sizes}}
								{{#if selected}}
									<li id="size{{this}}" class="selected">{{this}}</li>
								{{else}}
									<li id="size{{this}}">{{this}}</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					{{/unless}}
					{{/if}}
				</div>

				<div class="buttons col-xs-12">
					<button class="button blue add-to-cart-btn" type="submit">Add to Cart</button>
					<!-- {{#with product}}
					<div class="charitable-percent">Charitable Percentage: <span class="percentage">{{percentToCharity}}%</span></div>
					{{/with}} -->
				</div>
			</div>
		</div>

		<div class="page-header" id="product-details">
			<ul class="nav nav-tabs" role="tablist">
				<li class="col-xs-4 active">
					<a href="#product-tab" role="tab" data-toggle="tab">Product</a>
				</li>
				<li class="col-xs-4">
					<a href="#vendor-tab" role="tab" data-toggle="tab">Vendor</a>
				</li>
				<li class="col-xs-4">
					<a href="#charities-tab" role="tab" data-toggle="tab">Charities</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane fade active in" id="product-tab">
					<div class="row">
						<div class="col-sm-6">
							<div><strong>Description</strong></div>
							<p>{{product.description}}</p>
						</div>
						<div class="col-sm-6">
							<div><strong>Details</strong></div>
							<p>{{product.details}}</p>
						</div>
					</div>
				</div>
				<div class="tab-pane fade text-center" id="vendor-tab">
					{{#if vendor.image}}
					<img src="{{https vendor.image.url}}" alt="Logo">
					{{/if}}

					<h2>{{vendor.storeName}}</h2>
					<p>{{vendor.storeDescription}}</p>
					<a class="button clear gray" href="{{pathFor route='vendor' data=product}}">Learn More</a>
				</div>
				<div class="tab-pane fade product-sponsors" id="charities-tab">
					{{#each charities}}
						<div class="charity text-left">
							<div class="col-xs-8">
								<h3>{{name}}</h3>
								<div>{{category}}</div>
							</div>
							<div class="col-xs-4 text-right">
								{{#if image}}
								<img src="{{https image.url}}" alt="Arc Logo">
								{{/if}}
							</div>
							<div class="learn-more">
								<h4><a href="{{pathFor route='charity' data=this}}">Learn More</a></h4>
							</div>
						</div>
					{{/each}}
				</div>
			</div>

			<section id="rating">
				<ul class="list-inline text-center">
					{{#each productReviewStars reviews=product.reviews color='red'}}
						<li><img src="/icons/star_{{color}}.svg" alt="Star"></li>
					{{/each}}
					<li class="reviewNo">({{ noOfReviewsNoText product.reviews }})</li>
				</ul>

				<a class="button orange" href="{{pathFor route='reviews' data=product}}">Read Reviews</a>
			</section>

			<section class="blue text-center">
				<h2>Let's make it yours</h2>

				<a class="button white" href="">Add to Cart</a>
				<a class="button clear white back" href="{{pathFor route='shop'}}">Back to shop</a>
			</section>
		</div>
	</div>
</template>
