<template name="Reviews">
	<section class="text-center page-header">
		<a class="back-button" href="javascript:history.back()"><img src="/icons/small_arrow_gray.svg" alt="Back"></a>
		<h2>Product Reviews</h2>
	</section>

	<div id="reviews" class="page">
		<section id="rating" class="blue text-center">
			<ul class="list-inline">
				{{#each productReviewStars reviews=reviews color='white'}}
				<li><img src="/icons/star_{{color}}.svg" alt="Star"></li>
				{{/each}}
			</ul>

			<a class="button white" id="write-toggle" href="">Write a review</a>
		</section>

		{{#each reviews}}
		<div class="review">
			<div class="col-xs-6">
				<ul class="list-inline">
					{{#each stars}}
					<li><img src="/icons/small_blue_star.svg" alt="Star"></li>
					{{/each}}
				</ul>
			</div>
			<div class="col-xs-6 text-right"><small>{{formatDate timestamp}}</small></div>
			<div class="col-xs-12"><h3>{{title}}</h3></div>
			<div class="col-xs-12"><small>{{name}}</small></div>
			<p>{{comment}}</p>
		</div>
		{{/each}}

		<div id="review-panel">
			<section class="text-center">
				<ul class="list-inline" id="review-stars">
					{{#each reviewStars}}
						<li class="review-star"></li>
					{{/each}}
				</ul>

				<div><small>Rate this product</small></div>
			</section>

			<form id="review" novalidate>
				{{#with getMyReview}}
				<input value="{{title}}" type="text" placeholder="Title" name="reviewTitle" id="reviewTitle">
				<textarea value="{{comment}}" name="comment" placeholder="Comments" rows="8" id="comment"></textarea>
				<button class="button blue">Submit review</button>
				{{/with}}
			</form>
		</div>
	</div>
</template>
