/*****************************************************************************/
/* Footer: Style */
/*****************************************************************************/
@cyan: #22ADDB;					/* Buttons, ratings, price, and a:hover */
@tangerine: #FC6E5E;			/* Buttons, time remaining, and like button */
@offwhite: #F4F1E9;				/* Navbar background */
@beige: #E6E4DB;				/* Section divider */
@gray: #919191;					/* Buttons */
@charcoal: #2A2A2A;				/* Footer background */
@mocha: #434343;				/* Titles */
@silver: #C7C7C7;				/* Body text */

.footer {
	color: white;
	background: @charcoal;
	font-size: 14px;
	a {
		color: white;
		&:hover svg g, &:active svg g, &:focus svg g {
			fill: @cyan;
		}
	}
	div {
		padding: 12px;
	}
	#to-top {
		svg {
			max-width: 25px;
		}
	}
	#social-media {
		width: 90%;
		margin: auto;
		border-bottom: 1px solid #555;
		ul {
			li {
				padding-right: 0;
				svg {
					max-width: 35px;
					margin: 0 8px;
				}
			}
		}
	}
	#sitemap {
		svg {
			max-width: 19px;
			margin-right: 7px;
			vertical-align: bottom;
		}
	}
}
