<template name="Checkout">
	<div id="checkout">
		{{#if cartEmpty}}
			<section class="empty-cart-placeholder">
				<h2>Your Cart Is Empty</h2>
				<img src="/icons/cart.svg" alt="cart">
				<a href="/" class="button blue">Go Shopping!</a>
			</section>
		{{else}}
			<section class="page-header text-center">
				<a class="back-button" href="/"><img src="/icons/small_arrow_gray.svg" alt="Back"></a>
				<h2>Your Cart</h2>
			</section>

			<div class="cart page-header" id="checkout-page">
				<div id="items">
					{{#each cartItems}}
						<div class="item col-xs-12">
							<div class="portrait col-xs-5">
								<a class="product-image" href="/item/{{productId}}"><img src="{{image.url}}" alt="Item Image"></a>
							</div>
							<div class="details col-xs-7">
								{{#each detailsOfItem productId}}
									<h3>{{this.name}}</h3>
									<h4>${{this.price}} x {{../quantity}} = ${{ price this.price ../quantity }}</h4>
								{{/each}}
								<h5>{{size}}</h5>
								<img class="delete" src="/icons/delete_trash.svg" alt="Delete">
							</div>
						</div>
					{{/each}}
				</div>

				<div class="select">
					<button class="button blue continueCart">Continue</button>
				</div>
			</div>
		{{/if}}
	</div>
</template>
