<template name="Checkout">
	<div id="checkout">
		<section class="text-center">
			<h2>Select your charity</h2>

			<p>ChangeUp donated 8% of your total cart's prince to a charity of your choosing. No aded costs will be added to your total! All you have to do is decide which cause or charity who wish to contribute to.</p>
		</section>

		<div id="charities">
			{{#each charities}}
			<div class="charity">
				<div class="col-xs-9">
					<h3>{{name}}</h3>
					<div>{{category}}</div>
				</div>
				<div class="col-xs-3 text-right">
					<img src="images/arc_logo.png" alt="Arc Logo">
				</div>
				<p class="col-xs-12">{{description}}</p>
				<a class="button blue" href="{{pathFor route='shipping'}}">Select</a>
			</div>
			{{/each}}
		</div>
	</div>
</template>