<template name="Shipping">
	<div id="shipping" class="page">
		<div id="steps">
			<div class="col-xs-4 step current"><a href="">Shipping</a></div>
			<div class="col-xs-4 step"><a href="">Billing</a></div>
			<div class="col-xs-4 step"><a href="">Summary</a></div>
		</div>

		<form class="checkout-form" id="shipping">
			<fieldset>
				<input value="{{fullName}}" type="text" min="1" max="200" name="fullName" placeholder="Full name" required>
				<input value="{{addressOne}}" type="text" min="1" max="400" name="addressOne" class="address" placeholder="Address 1" required>
				<input value="{{addressTwo}}" type="text" max="300" name="addressTwo" class="address" placeholder="Address 2">
				<input value="{{city}}" type="text" min="2" max="150" name="city" class="half" placeholder="City" required>
				<input value="{{zipcode}}" type="text" min="1" max="15" name="zipcode" class="half" placeholder="Zip" required>
				<input value="{{state}}" type="text" min="1" max="20" name="state" class="half" placeholder="State" required>
				<input value="{{country}}" type="text" min="1" max="100" name="country" class="half" placeholder="Country" required>
			</fieldset>
			<div id="subtotal">
				<div class="col-xs-6 text-left"><strong>Total</strong></div>
				<div class="col-xs-6 text-right"><strong>${{cartTotals.total}}</strong></div>
			</div>
			<!--href="{{pathFor route='billing'}}"-->
			<button type="submit" class="button orange">Next</button>
		</form>
	</div>
</template>