<template name="Summary">
	<div id="summary" class="page">
		<div id="steps">
			<div class="col-xs-4 step current"><a href="{{pathFor route='shipping'}}">Shipping</a></div>
			<div class="col-xs-4 step current"><a href="{{pathFor route='billing'}}">Billing</a></div>
			<div class="col-xs-4 step current"><a href="">Summary</a></div>
		</div>

		<section id="invoice">
			<div class="col-xs-12"></div>
		</section>

		<div class="cart">
			<div id="overview">
				<div class="details col-sm-6">
					<h4>Ship to:</h4>
					<div>{{checkout.shipping.fullName}}</div>
					<div>{{checkout.shipping.addressOne}}</div>
					<div>{{checkout.shipping.city}}, {{checkout.shipping.state}} {{checkout.shipping.zipcode}}</div>

					<!-- <a href="{{pathFor route='shipping'}}">
						<img class="edit" src="icons/edit_pencil.svg" alt="Edit">
					</a> -->
				</div>

				<div class="details col-sm-6">
					<h4>Bill to:</h4>
					<div>{{checkout.billing.fullName}}</div>
					<div>{{checkout.billing.addressOne}}</div>
					<div>{{checkout.billing.city}}, {{checkout.billing.state}}. {{checkout.billing.zipcode}}</div>

					<!-- <a href="{{pathFor route='billing'}}">
						<img class="edit" src="icons/edit_pencil.svg" alt="Edit">
					</a> -->
				</div>

				<div class="details col-xs-12">
					<h4>Pay with:</h4>
					<div>{{checkout.billing.creditCardName}}</div>
					<div>Visa ending with {{checkout.billing.creditCardNumber}}</div>
					<div>Exp. {{checkout.billing.cardExp}}</div>

					<!-- <a href="{{pathFor route='billing'}}">
						<img class="edit" src="icons/edit_pencil.svg" alt="Edit">
					</a> -->
				</div>
			</div>

			<h3 class="divider">Cart</h3>

			<div id="items">
				{{#each cartItems}}
				<div class="item col-xs-12">
					<div class="portrait col-xs-5">
						<img src="{{image.url}}" alt="Item">
					</div>
					<div class="details col-xs-7">
						<strong>{{name}}</strong>
						<div><small>{{vendorName}}</small></div>

						<h4>&#36;{{price}}</h4>
						<div><small>x{{quantity}} {{#if size}}| {{size}}{{/if}} {{#if color}}| {{color}}{{/if}}</small></div>

						<!--<img class="edit" src="icons/edit_pencil.svg" alt="Edit">-->
						<img class="delete" src="icons/delete_trash.svg" alt="Delete">
					</div>
				</div>
				{{/each}}

			</div>

			<div id="total">
				<div class="col-xs-12">
					<div class="col-xs-6">Subtotal</div>
					<div class="col-xs-6 text-right">&#36;{{cartTotals.subTotal}}</div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-6">Shipping</div>
					<div class="col-xs-6 text-right">&#36;{{cartTotals.shipping}}</div>
				</div>
				<hr>
				<div class="col-xs-12">
					<div class="col-xs-6"><strong>Total</strong></div>
					<div class="col-xs-6 text-right"><strong>&#36;{{cartTotals.total}}</strong></div>
				</div>

				<div class="col-xs-12">
					<button id="checkout" class="button orange">Complete order</button>
				</div>
			</div>
		</div>
	</div>
</template>
