<template name="shareWidget">
	<div class="modal" id="shareModal">
 		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Modal title</h4>
				</div>
			<div class="modal-body">
				<p>One fine body&hellip;</p>
				<a href="https://www.facebook.com/dialog/feed?app_id=694165360698061&link={{productLink}}&picture=http%3A%2F%2Fwww.insert-image-share-url-here.jpg&name=I%20just%20found%20this%20{{productName}}%20on%20%23changeup&caption=%20&description={{productDescription}}&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/intent/tweet?url={{productLink}}&text=I+found+this+{{productName}}&hashtags=changeup," target="_blank"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</template>
