<template name="Home">
	<div id="home" class="text-center">
		<img src="icons/logo_light.svg" alt="ChangeUp">

		<h2>Exclusive products.<br>Inclusive community.</h2>
		<p>Immersive products providing support for charities around the world.</p>

		<a class="button orange email" href="{{pathFor route='login'}}">Sign in with your Email.</a>
		<a id="facebook" class="button facebook">Sign in with Facebook</a>
		<a id="twitter" class="button twitter">Sign in with Twitter</a>

		<p><a href="{{pathFor route='register'}}">Don't have an account? Sign up.</a></p>
	</div>
</template>
