<template name="ProductOptions">
  <div class="product-options">
    <fieldset class="row">
      <div class="col-xs-6">
        <label>
          <span class="percentage">{{percentToCharity}}%</span> will go to:
          <!-- Charity <img src="/icons/smallstar_blue.svg" width="15" alt="Charity"> -->
        </label>
        <select name="charity" class="charity-select" id="charities{{../_id}}">
          {{#each charities}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-xs-3">
        <input name="quantity" class="number-input" placeholder="Qty" type="number" min="1" id="quantity{{../_id}}" value="1">
      </div>
      <div class="col-xs-3">
        {{#if fixingVendorsSize}}
        <select class="size-select" name="size">
          {{#each sizes}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
        {{/if}}
      </div>
    </fieldset>
  </div>
</template>
