<template name="Shop">
		<div class="shop text-center">
		<section id="shop-header">
		<div class="animated fadeInUp">
			<h2>Exclusive products.<br>Inclusive community.</h2>
			<p>Immersive products providing support for charities around the world.</p>

			<div>
				<a class="button orange" href="{{pathFor route='about'}}">About Us</a>
				<a class="button clear white" href="{{pathFor route='charities'}}">View Charities</a>
			</div>
		</div>
		</section>

		<span id="featured"></span>
   		<ul id="allItems" class="clearfix row">
   			<li class="featured-title col-sm-12">
   				<h1>Featured For:</h1>
   				<div id="featuredTime">{{{ featuredProductsTime }}}</div>
   			</li>
				{{#each products}}
				{{#with this}}
					{{>productItems}}
				{{/with}}
				{{/each}}
		</ul>

		<section class="white text-center" id="twitterFeed">
			<div class="container">
				<h2>Stay Updated.</h2>
				<div id="owl-example" class="owl-carousel"></div>
			</div>
		</section>

		<section class="gray text-center" id="support">
			<div class="container">
				<h2>Support a cause that speaks to you.</h2>
				<p>Every purchase benefits a charity selected collaboratively between buyer and seller. First, a vendor selects up to 3 charities from ChangeUp’s partners. Then YOU decide which of the vendor’s selected charities receive the charitable percentage of that transaction!</p>

				<a class="button blue" href="{{pathFor route='charities'}}">Our Charities</a>
			</div>
		</section>
	</div>
</template>
