<template name="Charities">
	<div class="charities">
		<section class="text-center">
			<h2>Helping a charity, one purchase at a time</h2>

			<p>Every transaction provides a minimum of &#37;6 of total sales to a charity of your choice.</p>
		</section>

		<div id="charities">
			<div class="charity">
				<div class="col-xs-9">
					<h3>American Refugee Committee</h3>
					<div>Refugees</div>
				</div>
				<div class="col-xs-3 text-right">
					<img src="images/arc_logo.png" alt="Arc Logo">
				</div>
				<p class="col-xs-12">The American Refugee Committee is an international, nonprofit, nonsectarian organiztion that has provided humanitarian assistance and training to millions of beneficiaries over the past 30 years.</p>
				<div class="learn-more">
					<h4><a href="{{pathFor route='charity'}}">Learn more</a></h4>
				</div>
			</div>

			<div class="charity">
				<div class="col-xs-9">
					<h3>Feeding America</h3>
					<div>World Hunger</div>
				</div>
				<div class="col-xs-3 text-right">
					<img src="images/feeding_america_logo.png" alt="Feeding America Logo">
				</div>
				<p class="col-xs-12">Proper nutrition is critical to a child's development. We believe that all of us can help end child hunger in America and Feeding America's nationwide network of food banks have many programs to tailor to this all-important cause.</p>
				<div class="learn-more">
					<h4><a href="">Learn more</a></h4>
				</div>
			</div>

			<div class="charity">
				<div class="col-xs-9">
					<h3>Animal Charities of America</h3>
					<div>Animal Rights</div>
				</div>
				<div class="col-xs-3 text-right">
					<img src="images/animal_logo.png" alt="ACA Logo">
				</div>
				<p class="col-xs-12">Protecting pets, wildlife, and endangered species. Teching people to treat animals with love and respect. Humane training of animals as helpers and companions to people in need.</p>
				<div class="learn-more">
					<h4><a href="">Learn more</a></h4>
				</div>
			</div>
		</div>

		<section class="blue text-center">
			<h2>Suggest a charity</h2>

			<p>Is there a cause that you are passionate about and would like to see listed on our website?</p>

			<a class="button clear white" href="">Contact us</a>
		</section>
	</div>
</template>
