<template name="Charities">
	<div class="charities">
		<section class="text-center" id="charities-header">
			<div class="container">
				<div class="col-sm-8">
					<h2>Helping a charity, one purchase at a time</h2>

					<p>Every transaction provides a minimum of 4&#37; of total sales to a charity of your choice.</p>
				</div>
			</div>
		</section>

		<div id="charities">
			{{#each charities}}
				<div class="charity">
					<div class="box-wrapper">
						<div class="charity-header col-xs-7 col-sm-12">
							<h3>{{name}}</h3>
							<div>{{category}}</div>
						</div>
						{{#if image}}
							<div class="charity-logo col-xs-5 col-sm-12 text-right">
								<a href="{{pathFor route='charity' data=this}}"><img src="{{image.url}}" alt="Arc Logo"></a>
							</div>
						{{/if}}
						<p class="col-xs-12">{{description}}</p>
						<div class="learn-more">
							<h4><a href="{{pathFor route='charity' data=this}}">Learn more</a></h4>
						</div>
					</div>
				</div>
			{{/each}}
		</div>

		<section class="blue text-center" id="charities-footer">
			<h2>Suggest a charity</h2>

			<p>Is there a cause that you are passionate about and would like to see listed on our website?</p>

			<a class="button clear white" href="{{pathFor route='contact'}}">Contact us</a>
		</section>
	</div>
</template>
