/*****************************************************************************/
/* Charities: Style */
/*****************************************************************************/
@cyan: #22ADDB;					/* Buttons, ratings, price, and a:hover */
@tangerine: #FC6E5E;			/* Buttons, time remaining, and like button */
@offwhite: #F4F1E9;				/* Navbar background */
@beige: #E6E4DB;				/* Section divider */
@gray: #919191;					/* Buttons */
@charcoal: #2A2A2A;				/* Footer background */
@mocha: #434343;				/* Titles */
@silver: #C7C7C7;				/* Body text */

.charities {
}

/* Tablet and Desktop */
@media (min-width: 768px) {
	#charities {
		.charity {
			display: inline-block;
			width: 350px;
			margin: 7px;
			background: white;
			border-top: none !important;
			border-bottom: none !important;
			border: 1px solid @silver !important;
			div {
				text-align: center;
			}
			.charity-logo {
				img {
					max-height: 60px;
					margin: 10px 0 20px;
				}
			}
			a {
				padding: 10px 0;
				color: white;
				background: @cyan;
				&::after {
					display: none;
				}
			}
		}
	}
}