<template name="Navbar">
  <div id="navbar">
    <ul class="list-unstyled">
    	<li><a href="{{pathFor route='home'}}">Home</a></li>
    	<li><a href="{{pathFor route='shop'}}"><img src="navbar/shop.svg" alt="Shop">Shop</a></li>
    	<li><a href="{{pathFor route='charities'}}"><img src="navbar/charities.svg" alt="Charities">Charities</a></li>
    	<li><a href="{{pathFor route='about'}}"><img src="navbar/aboutus.svg" alt="About Us">About Us</a></li>
    	<li><a href="{{pathFor route='news'}}"><img src="navbar/news.svg" alt="News">News</a></li>
    	<li><a href="{{pathFor route='account'}}"><img src="navbar/account.svg" alt="Account">Account</a></li>
    	<li><a href="{{pathFor route='cart'}}"><img src="navbar/cart.svg" alt="Cart">Cart</a></li>
    	<li><a href="{{pathFor route='checkout'}}"><img src="navbar/checkout.svg" alt="Checkout">Checkout</a></li>
    </ul>
  </div>
</template>
