/*****************************************************************************/
/* Navbar: Style */
/*****************************************************************************/
@cyan: #22ADDB;					/* Buttons, ratings, price, and a:hover */
@tangerine: #FC6E5E;			/* Buttons, time remaining, and like button */
@offwhite: #F1F1F1;				/* Navbar background */
@beige: #E6E4DB;				/* Section divider */
@gray: #919191;					/* Buttons */
@charcoal: #2A2A2A;				/* Footer background */
@mocha: #434343;				/* Titles */
@silver: #C7C7C7;				/* Body text */

.toggle-nav {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	padding: 10px 15px;
	img {
		width: 30px;
	}
}

#navbar {
	position: absolute;
	top: 0;
	left: -250px;
	width: 250px;
	height: 100vh;
	background: @offwhite;
	font-size: 14px;
	overflow: auto;
	a {
		display: inline-block;
		width: 100%;
		padding: 10px;
		color: @mocha;
		&:hover, &:active, &:focus {
			color: @cyan;
		}
	}
	ul {
		.col-sm-10 {
			padding: 0;
		}
		li {
			border-top: 1px solid @beige;
			border-bottom: 1px solid @beige;
			img {
				max-width: 20px;
				margin: 0 15px;
			}
		}
	}
}

/*--- Off-canvas menu navigation ----*/
#site-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

#site-canvas {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: 300ms ease all;
	transition: 300ms ease all;
}

.show-nav #site-canvas {
	position: fixed;
	-webkit-transform: translateX(250px);
	transform: translateX(250px);
}
/*===================================*/

/* Tablet and Desktop */
@media (min-width: 768px) {
	.toggle-cart {
		top: 6px;
	}

	#navbar {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;	
		height: auto;
		background: white;
		overflow: visible;
		box-shadow: 0 1px 10px 5px #ddd;
		ul {
			float: right;
			width: 90%;
			margin-right: 8rem;
			.col-sm-10 {
				margin: 9px 0;
				text-align: right;
			}
			li {
				display: inline-block;
				border: none;
			}
		}
	}
}

.dropdown:hover .dropdown-menu {
	display: block;
	top: 35px;
	li {
		width: 100%;
	}
}










