<template name="ProductOptions">
		<fieldset class="row">
			<div class="charity col-xs-6">
				<img src="/icons/smallstar_blue.svg" alt="Charity">Charities
			</div>
			<div class="col-xs-6">
				<input type="hidden" value="{{_id}}" name="productId">
				<div class="row">
					<div class="quantity select col-xs-6">
						Qty <input name="quantity" type="hidden" value="">
					</div>
					<div class="size select col-xs-6">
						Size <input name="size" type="hidden" value="">
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset class="dropdown-wrap row">
			<div class="select-dropdown col-xs-6">
				<ul class="sd-items clearfix">
					<li class="sd-item"></li>
				</ul>
			</div>
		</fieldset>
</template>