<template name="Shop">
	<div class="shop text-center">
		<section>
			<img src="icons/logo_dark.svg" class="hidden-sm hidden-md hidden-lg" alt="ChangeUp logo">
			<h2>Exclusive products.<br>Inclusive community.</h2>
			<p>Immersive products providing support for charities around the world.</p>

			<a class="button blue" href="{{pathFor route='about'}}">About Us</a>
			<a class="button clear gray" href="{{pathFor route='charities'}}">View charities</a>
		</section>
		<div id="allItems">
			{{#each products}}
			<div class="product">
				<div class="product-image">
					{{#if featuredUntil}}
					<div class="product-timer">{{featuredTime featuredUntil}}</div>
					{{/if}}
					{{#if userLiked}}
					<div class="like-button" data-productid="{{_id}}"><img src="/icons/thumbsup.svg" alt="Like"></div>
					{{else}}
					<div class="like-button" data-productid="{{_id}}"><img src="/icons/thumbsup_gray.svg" alt="Like"></div>
					{{/if}}

					<img src="images/cmykshirt.png" alt="Shirt">
				</div>
				<div class="product-name col-xs-8">
					<h4><strong>{{name}}</strong></h4>
				</div>
				<div class="price col-xs-4">
					<h4>${{price}}</h4>
				</div>
				<div class="vendor col-xs-12">{{storeName}}</div>

				<form class="col-xs-12 product-item">
					{{#with this}}
					{{>ProductOptions}}
					{{/with}}

					<div class="stats col-xs-12">
						<span class="likes">{{likeCount}} likes</span>
						<span class="reviews">{{noOfReviews reviews}} reviews</span>
						<span class="share pull-right"><img src="icons/share_gray.svg" alt="Share"></span>
					</div>

					<div class="buttons col-xs-12">
						<button type="submit" class="button blue add-to-cart-btn">Add to cart</button>
						<a class="button clear gray" href="{{pathFor route='item' data=this}}">View details</a>
					</div>
				</form>
			</div>
			{{/each}}
		</div>

		<section class="gray text-center">
			<img src="icons/image_placeholder.svg" alt="Placeholder">

			<h2>Support a cause that speaks to you</h2>
			<p>Every item backs three specific charities. Select the one that you feel most passionate about and love your newly purchased item knowing it goes to a great cause.</p>

			<a class="button orange" href="{{pathFor route='about'}}">About Us</a>
		</section>
	</div>
</template>
