/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
@cyan: #22ADDB;					/* Buttons, ratings, price, and a:hover */
@tangerine: #FC6E5E;			/* Buttons, time remaining, and like button */
@offwhite: #F4F1E9;				/* Navbar background */
@beige: #E6E4DB;				/* Section divider */
@gray: #919191;					/* Buttons */
@charcoal: #2A2A2A;				/* Footer background */
@mocha: #434343;				/* Titles */
@silver: #C7C7C7;				/* Body text */

@font-face {
	font-family: 'Muli';
	src: url("fonts/muli/Muli.ttf");
}

@font-face {
	font-family: 'Muli Bold';
	src: url("fonts/muli/Muli-Bold.ttf");
}

body {
	display: flex;
	min-height: 100vh;
	color: @silver;
	font-family: 'Muli';
	font-size: 16px;
}

strong, h1, h2, h3 {
	color: @mocha;
	font-family: 'Muli Bold';
}

h4 {
	color: @gray;
}

p {
	margin: 20px auto 20px;
}

a {
	transition: color 0.3s, border 0.3s;
	&:hover, &:active, &:focus {
		color: @cyan;
		text-decoration: none;
	}
}

form {
	border-top: 1px solid @gray;
	input, textarea {
		width: 100%;
		padding: 15px;
		color: @mocha;
		background: transparent;
		border: none;
		border-bottom: 1px solid @gray;
		outline: none;
		resize: vertical;
		&[type="checkbox"] {
			width: auto;
			color: @gray;
			transform: scale(1.5);
		}
	}
	label {
		margin-left: 10px;
		font-size: 14px;
		color: @gray;
	}
	.check {
		width: 100%;
		padding: 12px 20px;
		text-align: left;
		vertical-align: bottom;
	}
}

.button {
	display: block;
	width: 90%;
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 0;
	text-align: center;
	border-radius: 2px;
	transition: color 0.3s, background 0.3s, filter 0.3s, -webkit-filter 0.3s;
	&.blue {
		color: white;
		background: @cyan;
	}
	&.orange {
		color: white;
		background: @tangerine;
	}
	&.white {
		color: @cyan;
		background: white;
	}
	&:hover, &:active, &:focus {
		-webkit-filter: brightness(75%);		
		filter: brightness(75%);
	}
	&.clear {
		background: transparent;
		&.gray {
			color: @gray;
			border: 2px solid @gray;
			&:hover, &:active, &:focus {
				color: white;
				background: @gray;
			}
		}
		&.white {
			color: white;
			border: 2px solid white;
			&:hover, &:active, &:focus {
				color: @cyan;
				background: white;
			}
			&.back {
				background-image: url('icons/back_arrow_white.svg');
				background-repeat: no-repeat;
				background-size: 12px;
				background-position: 20px;
			}
		}
		&:hover, &:active, &:focus {
			-webkit-filter: brightness(100%);		
			filter: brightness(100%);
		}
	}
	&.email {
		background-image: url('icons/email.svg');
		background-size: 18px;
		background-repeat: no-repeat;
		background-position: 20px;
	}
	&.facebook {
		color: white;
		background: #3b5998;
		background-image: url('icons/facebook.svg');
		background-size: 10px;
		background-repeat: no-repeat;
		background-position: 25px;
	}
	&.twitter {
		color: white;
		background: #00aced;
		background-image: url('icons/twitter.svg');
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: 20px;
	}
}

section {
	padding: 25px 15px;
	&.gray {
		color: @gray;
		background: @beige;
		p {
			margin: 20px auto 40px;
		}
	}
	&.blue {
		color: white;
		background: @cyan;
		h2 {
			margin: 20px 0 50px;
			color: white;
		}
		p {
			margin: 20px auto 40px;
		}
	}
	p {
		width: 95%;
	}
	img {
		max-width: 150px;
		margin: 0 0 25px;
	}
	.button {
		width: 100%;
	}
	&#bio {
		display: inline-block;
		padding: 10px 15px;
		border-top: 8px solid @beige;
	}
}

#page-title {
	color: @mocha;
	text-transform: capitalize;
}

.product {
	display: inline-block;
	width: 100%;
	padding: 0 0 10px;
	text-align: left;
	border-bottom: 12px solid @beige;
	.product-image {
		position: relative;
		.product-timer {
			position: absolute;
			top: 0;
			left: 0;
			margin: 10px;
			padding: 2px 15px;
			color: white;
			background: @tangerine;
			font-size: 14px;
			border-radius: 500px;
		}
		.like-button {
			position: absolute;
			top: 0;
			right: 0;
			img {
				width: 25px;
				margin: 10px;
			}
		}
		img {
			width: 100%;
		}
	}
	.price {
		text-align: right;
		color: @gray;
	}
	.charity, .quantity, .size {
		margin: 10px 0;
		padding: 10px 8px;
		border-top: 1px solid @beige;
		border-bottom: 1px solid @beige;
	}
	.charity {
		img {
			margin-right: 5px;
			vertical-align: text-top;
		}
	}
	.quantity {
		border-left: 1px solid @beige;
		border-right: 1px solid @beige;
	}
	.stats {
		margin: 0 0 30px;
		font-size: 14px;
		.likes {
			margin-right: 8px;
			&::before {
				display: inline-block;
				content: url('icons/thumbsup_gray.svg');
				transform: scale(.6);
				vertical-align: middle;
			}
		}
		.reviews {
			&::before {
				display: inline-block;
				content: url('icons/reviews_gray.svg');
				transform: scale(.6);
				vertical-align: middle;
			}
		}
		.share {
			img {
				max-width: 23px;
				margin: 5px 0 0;
			}
		}
	}
	.buttons {
		padding: 0;
	}
}

#charities {
	.charity {
		padding: 15px 0 0;
		border-bottom: 8px solid @beige;
		&:first-child {
			border-top: 8px solid @beige;
		}
	}
	h3 {
		margin: 0;
		font-size: 2rem;
	}
	.learn-more {
		padding: 0 15px;
	}
	h4 {
		a {
			display: inline-block;
			width: 100%;
			padding: 20px 0 0;
			color: @gray;
			&::after {
				content: url('icons/small_arrow_gray.svg');
				float: right;
				margin-top: -6px;
				vertical-align: middle;
				transform: rotate(180deg) scale(0.7);
			}
		}
	}
	img {
		max-width: 100%;
		max-height: 45px;
	}
	p {
		margin: 20px 0 0;
	}
}