/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
@cyan: #22ADDB;					/* Buttons, ratings, price, and a:hover */
@tangerine: #FC6E5E;			/* Buttons, time remaining, and like button */
@offwhite: #F4F1E9;				/* Navbar background */
@beige: #E6E4DB;				/* Section divider */
@gray: #919191;					/* Buttons */
@charcoal: #2A2A2A;				/* Footer background */
@mocha: #434343;				/* Titles */
@silver: #C7C7C7;				/* Body text */

@font-face {
	font-family: 'Muli';
	src: url("fonts/muli/Muli.ttf");
}

@font-face {
	font-family: 'Muli Bold';
	src: url("fonts/muli/Muli-Bold.ttf");
}

body {
	color: @silver;
	font-family: 'Muli';
	font-size: 16px;
}

strong, h1, h2, h3 {
	color: @mocha;
	font-family: 'Muli Bold';
}

h4 {
	color: @gray;
}

p {
	margin: 20px auto 40px;
}

a {
	transition: color 0.3s;
	&:hover, &:active, &:focus {
		color: @cyan;
		text-decoration: none;
	}
}

.button {
	display: block;
	width: 90%;
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 0;
	text-align: center;
	border-radius: 2px;
	transition: color 0.3s, background 0.3s, filter 0.3s, -webkit-filter 0.3s;
	&.blue {
		color: white;
		background: @cyan;
	}
	&.orange {
		color: white;
		background: @tangerine;
	}
	&.white {
		color: @cyan;
		background: white;
	}
	&:hover, &:active, &:focus {
		-webkit-filter: brightness(75%);		
		filter: brightness(75%);
	}
	&.clear {
		background: transparent;
		&.gray {
			color: @gray;
			border: 2px solid @gray;
			&:hover, &:active, &:focus {
				color: white;
				background: @gray;
			}
		}
		&.white {
			color: white;
			border: 2px solid white;
			&:hover, &:active, &:focus {
				color: @cyan;
				background: white;
			}
		}
		&:hover, &:active, &:focus {
			-webkit-filter: brightness(100%);		
			filter: brightness(100%);
		}
	}
}

section {
	padding: 25px 0;
	&.gray {
		color: @gray;
		background: @beige;
	}
	p {
		width: 95%;
	}
	img {
		max-width: 150px;
		margin: 0 0 25px;
	}
}

#page-title {
	color: @mocha;
	text-transform: capitalize;
}

.product {
	display: inline-block;
	width: 100%;
	padding: 0 0 10px;
	text-align: left;
	border-bottom: 12px solid @beige;
	.product-image {
		position: relative;
		.product-timer {
			position: absolute;
			top: 0;
			left: 0;
			margin: 10px;
			padding: 2px 15px;
			color: white;
			background: @tangerine;
			font-size: 14px;
			border-radius: 500px;
		}
		.like-button {
			position: absolute;
			top: 0;
			right: 0;
			img {
				width: 25px;
				margin: 10px;
			}
		}
		img {
			width: 100%;
		}
	}
	.price {
		text-align: right;
		color: @gray;
	}
	.charity, .quantity, .size {
		margin: 10px 0;
		padding: 10px 8px;
		border-top: 1px solid @beige;
		border-bottom: 1px solid @beige;
	}
	.charity {
		img {
			margin-right: 5px;
			vertical-align: text-top;
		}
	}
	.quantity {
		border-left: 1px solid @beige;
		border-right: 1px solid @beige;
	}
	.stats {
		margin: 0 0 30px;
		font-size: 14px;
		.likes {
			margin-right: 8px;
			&::before {
				display: inline-block;
				content: url('icons/thumbsup_gray.svg');
				transform: scale(.6);
				vertical-align: middle;
			}
		}
		.reviews {
			&::before {
				display: inline-block;
				content: url('icons/reviews_gray.svg');
				transform: scale(.6);
				vertical-align: middle;
			}
		}
		.share {
			img {
				max-width: 23px;
				margin: 5px 0 0;
			}
		}
	}
	.buttons {
		padding: 0;
	}
}