/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
@cyan: #22ADDB;					/* Buttons, ratings, price, and a:hover */
@tangerine: #FC6E5E;			/* Buttons, time remaining, and like button */
@offwhite: #F4F1E9;				/* Navbar background */
@beige: #E6E4DB;				/* Section divider */
@gray: #919191;					/* Buttons */
@charcoal: #2A2A2A;				/* Footer background */
@mocha: #434343;				/* Titles */
@silver: #C7C7C7;				/* Body text */

@font-face {
	font-family: 'Muli';
	src: url("fonts/muli/Muli.ttf");
}

@font-face {
	font-family: 'Muli Bold';
	src: url("fonts/muli/Muli-Bold.ttf");
}

body {
	display: flex;
	min-height: 100vh;
	color: @silver;
	font-family: 'Muli';
	font-size: 16px;
}

strong, h1, h2, h3 {
	color: @mocha;
	font-family: 'Muli Bold';
}

h4 {
	color: @gray;
}

p {
	margin: 20px auto 20px;
}

a {
	transition: color 0.3s, border 0.3s;
	&:hover, &:active, &:focus {
		color: @cyan;
		text-decoration: none;
	}
}

.back-button {
	position: absolute;
	top: 1px;
	left: 15px;
	-webkit-filter: brightness(75%);		
	filter: brightness(75%);
	img {
		height: 20px;
	}
}

form {
	border-top: 1px solid @gray;
	input, textarea {
		width: 100%;
		padding: 15px;
		color: @mocha;
		background: transparent;
		border: none;
		border-bottom: 1px solid @gray;
		outline: none;
		resize: vertical;
		&.half {
			float: left;
			width: 50%;
			border-right: 1px solid @gray;
		}
		&[type="checkbox"] {
			width: auto;
			margin: 15px 0 0;
			color: @gray;
			transform: scale(1.5);
		}
	}
	label {
		margin-left: 10px;
		font-size: 14px;
		color: @gray;
	}
	.check {
		width: 100%;
		padding: 12px 20px 5px;
		text-align: left;
		vertical-align: bottom;
		.pull-right {
			margin: 10px 0;
		}
	}
}

.button {
	display: block;
	clear: both;
	width: 90%;
	max-width: 300px;
	margin: 10px auto;
	padding: 10px 0;
	text-align: center;
	border-radius: 2px;
	transition: color 0.3s, background 0.3s, filter 0.3s, -webkit-filter 0.3s;
	&.blue {
		color: white;
		background: @cyan;
	}
	&.orange {
		color: white;
		background: @tangerine;
	}
	&.white {
		color: @cyan;
		background: white;
	}
	&.gray {
		color: @gray;
		background: @silver;
	}
	&.lightgray {
		color: @silver;
		background: @offwhite;
	}
	&:hover, &:active, &:focus {
		-webkit-filter: brightness(75%);		
		filter: brightness(75%);
	}
	&.clear {
		background: transparent;
		&.gray {
			color: @gray;
			border: 2px solid @gray;
			&:hover, &:active, &:focus {
				color: white;
				background: @gray;
			}
		}
		&.white {
			color: white;
			border: 2px solid white;
			&:hover, &:active, &:focus {
				color: @cyan;
				background: white;
			}
			&.back {
				background-image: url('icons/back_arrow_white.svg');
				background-repeat: no-repeat;
				background-size: 12px;
				background-position: 20px;
			}
		}
		&:hover, &:active, &:focus {
			-webkit-filter: brightness(100%);		
			filter: brightness(100%);
		}
	}
	&.email {
		background-image: url('icons/email.svg');
		background-size: 18px;
		background-repeat: no-repeat;
		background-position: 20px;
	}
	&.facebook {
		color: white;
		background: #3b5998;
		background-image: url('icons/facebook.svg');
		background-size: 10px;
		background-repeat: no-repeat;
		background-position: 25px;
	}
	&.twitter {
		color: white;
		background: #00aced;
		background-image: url('icons/twitter.svg');
		background-size: 20px;
		background-repeat: no-repeat;
		background-position: 20px;
	}
}

.onoffswitch {
	float: right;
	position: relative; width: 50px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	height: 25px; padding: 0 !important; line-height: 25px;
	border: 2px solid #CCCCCC; border-radius: 25px;
	background-color: white;
	transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
	content: "";
	display: block; width: 25px; margin: 0px;
	background: white;
	position: absolute; top: 0; bottom: 0;
	right: 23px;
	border: 2px solid #CCCCCC; border-radius: 25px;
	transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
	background-color: #54CC52;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
	border-color: #54CC52;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
	right: 0px; 
}

section {
	padding: 25px 15px;
	&.gray {
		color: @gray;
		background: @beige;
		p {
			margin: 20px auto 40px;
		}
	}
	&.blue {
		color: white;
		background: @cyan;
		h2 {
			margin: 20px 0 50px;
			color: white;
		}
		p {
			margin: 20px auto 40px;
		}
	}
	p {
		width: 95%;
	}
	img {
		max-width: 150px;
		margin: 0 0 25px;
	}
	.button {
		width: 100%;
	}
	&#bio {
		display: inline-block;
		padding: 10px 15px;
		border-top: 8px solid @beige;
	}
}

#page-title {
	margin: 10px auto 20px;
	color: @mocha;
	text-transform: capitalize;
}

.divider {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 15px;
	background: @offwhite;
	border-top: 1px solid @gray;
	border-bottom: 1px solid @gray;
}

ul.nav.nav-tabs {
	li {
		margin-bottom: 0;
		padding: 0;
		text-align: center;
		a {
			margin: 0;
			padding: 10px 0 18px;
			color: @silver;
			border: none;
			border-top: 8px solid white;
			border-radius: 0;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}
		&.active a {
			color: @gray;
			border: none;
			border-top: 8px solid @cyan;
		}
	}
}

.tab-content {
	border-bottom: 1px solid @beige;
	img {
		max-width: 100px;
		margin: 10px auto;
	}
	h2 {
		margin: 20px 0 30px;
	}
	p {
		margin: 5px 0 30px;
	}
	#product {
		padding: 15px 15px 0;
	}
	#vendor {
		padding: 15px 0;
	}
}

.product {
	display: inline-block;
	width: 100%;
	padding: 0 0 10px;
	text-align: left;
	border-bottom: 12px solid @beige;
	.product-image {
		position: relative;
		.product-timer {
			position: absolute;
			top: 0;
			left: 0;
			margin: 10px;
			padding: 2px 15px;
			color: white;
			background: @tangerine;
			font-size: 14px;
			border-radius: 500px;
		}
		.like-button {
			position: absolute;
			top: 0;
			right: 0;
			img {
				width: 25px;
				margin: 10px;
			}
		}
		img {
			width: 100%;
		}
	}
	.price {
		text-align: right;
		color: @gray;
	}
	.charity, .quantity, .size {
		margin: 10px 0;
		padding: 10px 8px;
		border-top: 1px solid @beige;
		border-bottom: 1px solid @beige;
	}
	.charity {
		img {
			margin-right: 5px;
			vertical-align: text-top;
		}
	}
	.quantity {
		border-left: 1px solid @beige;
		border-right: 1px solid @beige;
	}
	.stats {
		margin: 0 0 30px;
		font-size: 14px;
		.likes {
			margin-right: 8px;
			&::before {
				display: inline-block;
				content: url('icons/thumbsup_gray.svg');
				transform: scale(.6);
				vertical-align: middle;
			}
		}
		.reviews {
			&::before {
				display: inline-block;
				content: url('icons/reviews_gray.svg');
				transform: scale(.6);
				vertical-align: middle;
			}
		}
		.share {
			img {
				max-width: 23px;
				margin: 5px 0 0;
			}
		}
	}
	.buttons {
		padding: 0;
	}
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 5px 0 30px;
	border: none;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	box-shadow: none;
	background: @gray;
	border-radius: 1.8px;
	border: none;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: none;
	border: 3px solid white;
	height: 30px;
	width: 30px;
	border-radius: 500px;
	background: @tangerine;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: @gray;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	box-shadow: none;
	background: @gray;
	border-radius: 1.8px;
	border: none;
}
input[type=range]::-moz-range-thumb {
	box-shadow: none;
	border: 3px solid white;
	height: 30px;
	width: 30px;
	border-radius: 500px;
	background: @tangerine;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: @tangerine;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: @tangerine;
	border: none;
	border-radius: 3.6px;
	box-shadow: none;
}
input[type=range]::-ms-fill-upper {
	background: @gray;
	border: none;
	border-radius: 3.6px;
	box-shadow: none;
}
input[type=range]::-ms-thumb {
	box-shadow: none;
	border: 3px solid white;
	height: 30px;
	width: 30px;
	border-radius: 500px;
	background: @tangerine;
	cursor: pointer;
	height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
	background: @tangerine;
}
input[type=range]:focus::-ms-fill-upper {
	background: @gray;
}

#charities {
	.charity {
		padding: 15px 0 0;
		border-bottom: 8px solid @beige;
		&:first-child {
			border-top: 8px solid @beige;
		}
	}
	h3 {
		margin: 0;
		font-size: 2rem;
	}
	.learn-more {
		padding: 0 15px;
	}
	.button {
		margin: 20px auto 15px;
	}
	h4 {
		a {
			display: inline-block;
			width: 100%;
			padding: 20px 0 0;
			color: @gray;
			&::after {
				content: url('icons/small_arrow_gray.svg');
				float: right;
				margin-top: -6px;
				vertical-align: middle;
				transform: rotate(180deg) scale(0.7);
			}
		}
	}
	img {
		max-width: 100%;
		max-height: 45px;
	}
	p {
		display: inline-block;
		clear: both;
		margin: 20px 0 15px;
	}
}

.cart, .inventory {
	display: inline-block;
	font-size: 15px;
	overflow: auto;
	.col-xs-12 {
		padding: 5px 0;
	}
	hr {
		display: inline-block;
		width: 95%;
		margin: 10px 2.5%;
		border-color: @gray;
	}
	h3, h4 {
		color: @cyan;
	}
	#items {
		display: inline-block;
		background: white;
		overflow-y: auto;
		.item {
			padding: 15px 0;
			border-bottom: 1px solid @silver;
			.portrait {
				img {
					width: 100%;
				}
			}
			.details {
				position: relative;
				padding: 0;
				h4 {
					margin: 15px 0 5px;
				}
				.edit, .delete {
					position: absolute;
					right: 0;
					width: 15px;
					margin: 2px 8px;
				}
				.edit {
					top: 0;
				}
				.delete {
					bottom: 0;
				}
			}
		}
	}
	#overview {
		text-align: center;
		.details {
			float: none;
			width: 90%;
			margin: auto;
			padding: 5px 0 15px;
			text-align: left;
			.edit {
				position: absolute;
				top: 0;
				right: 0;
				width: 15px;
				margin: 20px 4px;
			}
			&:not(:last-child) {
				border-bottom: 1px solid @gray;
			}
		}
	}
}