<template name="Item">
	<div class="item">
		<div class="product">
			<div class="product-image">
				{{#if product.featuredUntil}}
				<div class="product-timer">{{featuredTime product.featuredUntil}}</div>
				{{/if}}
				<div class="like-button"><img src="/icons/thumbsup.svg" alt="Like"></div>

				<img src="/images/cmykshirt.png" alt="Shirt">
			</div>
			<div class="product-name col-xs-8">
				<h4><strong>{{product.name}}</strong></h4>
			</div>
			<div class="price col-xs-4">
				<h4>&#36;{{product.price}}</h4>
			</div>
			<div class="vendor col-xs-12">Swagtastic Gear</div>

			<form class="col-xs-12 product-item">
				{{#with product}}
					{{>ProductOptions}}
				{{/with}}

				<div class="stats col-xs-12">
					<span class="likes">{{product.likeCount}} likes</span>
					<span class="reviews">{{noOfReviews product.reviews}}</span>
					<span class="share pull-right"><img src="/icons/share_gray.svg" alt="Share"></span>
				</div>

				<div class="buttons col-xs-12">
					<button class="button blue" type="submit">Add to cart</button>
				</div>
			</form>
		</div>

		<ul class="nav nav-tabs" role="tablist">
			<li class="col-xs-4 active">
				<a href="#product" role="tab" data-toggle="tab">Product</a>
			</li>
			<li class="col-xs-4">
				<a href="#vendor" role="tab" data-toggle="tab">Vendor</a>
			</li>
			<li class="col-xs-4">
				<a href="#charities" role="tab" data-toggle="tab">Charities</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade active in" id="product">
				<div><strong>Description</strong></div>
				<p>{{product.description}}</p>

				<div><strong>Details</strong></div>
				<p>{{product.details}}</p>
			</div>
			<div class="tab-pane fade text-center" id="vendor">
				<img src="/images/hipster_clothing_logo.png" alt="Logo">

				<h2>{{vendor.storeName}}</h2>
				<p>{{vendor.storeDescription}}</p>

				<a class="button clear gray" href="{{pathFor route='vendor'}}">Learn more</a>
			</div>
			<div class="tab-pane fade" id="charities">
				{{#each charities}}
				<div class="charity">
					<div class="col-xs-9">
						<h3>{{name}}</h3>
						<div>{{category}}</div>
					</div>
					<div class="col-xs-3 text-right">
						<img src="/images/arc_logo.png" alt="Arc Logo">
					</div>
					<div class="learn-more">
						<h4><a href="">Learn more</a></h4>
					</div>
				</div>
				{{/each}}
			</div>
		</div>

		<section id="rating">
			<ul class="list-inline text-center">
				{{#each productReviewStars reviews=product.reviews color='red'}}
				<li><img src="/icons/star_{{color}}.svg" alt="Star"></li>
				{{/each}}
				<li class="reviewNo">({{ noOfReviewsNoText product.reviews }})</li>
			</ul>

			<a class="button orange" href="{{pathFor route='reviews' data=product}}">Read reviews</a>
		</section>

		<section class="blue text-center">
			<h2>Let's make it yours</h2>

			<a class="button white" href="">Add to cart</a>
			<a class="button clear white back" href="{{pathFor route='shop'}}">Back to shop</a>
		</section>
	</div>
</template>
