/*****************************************************************************/
/* Item: Style */
/*****************************************************************************/
@cyan: #22ADDB;					/* Buttons, ratings, price, and a:hover */
@tangerine: #FC6E5E;			/* Buttons, time remaining, and like button */
@offwhite: #F4F1E9;				/* Navbar background */
@beige: #E6E4DB;				/* Section divider */
@gray: #919191;					/* Buttons */
@charcoal: #2A2A2A;				/* Footer background */
@mocha: #434343;				/* Titles */
@silver: #C7C7C7;				/* Body text */

.item {
	ul.nav {
		li {
			margin-bottom: 0;
			padding: 0;
			text-align: center;
			a {
				margin: 0;
				padding: 10px 0 18px;
				color: @silver;
				border: none;
				border-top: 8px solid white;
				border-radius: 0;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}
			&.active a {
				color: @gray;
				border: none;
				border-top: 8px solid @cyan;
			}
		}
	}
	.tab-content {
		border-bottom: 1px solid @beige;
		img {
			max-width: 100px;
			margin: 10px auto;
		}
		h2 {
			margin: 20px 0 30px;
		}
		p {
			margin: 5px 0 30px;
		}
		#product {
			padding: 15px 15px 0;
		}
		#vendor {
			padding: 15px 0;
		}
		
	}
}

#rating {
	ul {
		&::after {
			content: "(5)";
			vertical-align: super;
		}
		li {
			img {
				width: 30px;
			}
		}
	}
}

#reviews {
	.review {
		padding: 15px 0 0;
		&:not(:last-child) {
			border-bottom: 1px solid @silver;
		}
		ul {
			li {
				padding: 0 2px;
				img {
					width: 15px;
					vertical-align: initial;
				}
			}
		}
		h3 {
			margin: 0 0 5px;
		}
		p {
			display: inline-block;
			width: 100%;
			padding: 0 15px;
		}
	}
}
