<template name="Item">
	<div class="item">
		<div class="product">
			<div class="product-image">
				<div class="product-timer">8h 13m</div>
				<div class="like-button"><img src="icons/thumbsup.svg" alt="Like"></div>

				<img src="images/cmykshirt.png" alt="Shirt">
			</div>
			<div class="product-name col-xs-8">
				<h4><strong>CMKY Shirt</strong></h4>
			</div>
			<div class="price col-xs-4">
				<h4>&#36;42.00</h4>
			</div>
			<div class="vendor col-xs-12">Swagtastic Gear</div>

			<div class="charity col-xs-6">
				<img src="icons/smallstar_blue.svg" alt="Charity">Charities
			</div>
			<div class="quantity col-xs-3">
				Qty
			</div>
			<div class="size col-xs-3">
				Size
			</div>

			<div class="stats col-xs-12">
				<span class="likes">22 likes</span>
				<span class="reviews">10 reviews</span>
				<span class="share pull-right"><img src="icons/share_gray.svg" alt="Share"></span>
			</div>

			<div class="buttons col-xs-12">
				<a class="button blue" href="">Add to cart</a>
			</div>
		</div>

		<ul class="nav nav-tabs" role="tablist">
			<li class="col-xs-4 active">
				<a href="#product" role="tab" data-toggle="tab">Product</a>
			</li>
			<li class="col-xs-4">
				<a href="#vendor" role="tab" data-toggle="tab">Vendor</a>
			</li>
			<li class="col-xs-4">
				<a href="#charities" role="tab" data-toggle="tab">Charities</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade active in" id="product">
				<div><strong>Description</strong></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<div><strong>Details</strong></div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="tab-pane fade text-center" id="vendor">
				<img src="images/hipster_clothing_logo.png" alt="Logo">

				<h2>Hipster Clothing</h2>
				<p>We sell the latest and greatest hipster clothing available on the market. Whatever you want, from tops to crocs, we got it!</p>

				<a class="button clear gray" href="{{pathFor route='vendor'}}">Learn more</a>
			</div>
			<div class="tab-pane fade" id="charities">
				<div class="charity">
					<div class="col-xs-9">
						<h3>American Refugee Committee</h3>
						<div>Refugees</div>
					</div>
					<div class="col-xs-3 text-right">
						<img src="images/arc_logo.png" alt="Arc Logo">
					</div>
					<div class="learn-more">
						<h4><a href="">Learn more</a></h4>
					</div>
				</div>

				<div class="charity">
					<div class="col-xs-9">
						<h3>Feeding America</h3>
						<div>World Hunger</div>
					</div>
					<div class="col-xs-3 text-right">
						<img src="images/feeding_america_logo.png" alt="Feeding America Logo">
					</div>
					<div class="learn-more">
						<h4><a href="">Learn more</a></h4>
					</div>
				</div>

				<div class="charity">
					<div class="col-xs-9">
						<h3>Animal Charities of America</h3>
						<div>Animal Rights</div>
					</div>
					<div class="col-xs-3 text-right">
						<img src="images/animal_logo.png" alt="ACA Logo">
					</div>
					<div class="learn-more">
						<h4><a href="">Learn more</a></h4>
					</div>
				</div>
			</div>
		</div>

		<section id="rating">
			<ul class="list-inline text-center">
				<li><img src="icons/star_red.svg" alt="Star"></li>
				<li><img src="icons/star_red.svg" alt="Star"></li>
				<li><img src="icons/star_red.svg" alt="Star"></li>
				<li><img src="icons/star_red.svg" alt="Star"></li>
				<li><img src="icons/star_red.svg" alt="Star"></li>
			</ul>

			<a class="button orange" href="{{pathFor route='reviews'}}">Read reviews</a>
		</section>

		<section class="blue text-center">
			<h2>Let's make it yours</h2>

			<a class="button white" href="">Add to cart</a>
			<a class="button clear white back" href="">Back to shop</a>
		</section>
	</div>
</template>
