<template name="Reviews">
	<div id="reviews" class="page">
		<div class="text-center"><a href="{{pathFor route='item'}}">Back</a></div>

		<section id="rating" class="blue text-center">
			<ul class="list-inline">
				{{#each productReviewStars reviews=reviews color='white'}}
				<li><img src="/icons/star_{{color}}.svg" alt="Star"></li>
				{{/each}}
			</ul>

			<a class="button white" href="#write">Write a review</a>
		</section>

		{{#each reviews}}
		<div class="review">
			<div class="col-xs-6">
				<ul class="list-inline">
					{{#each stars}}
					<li><img src="/icons/small_blue_star.svg" alt="Star"></li>
					{{/each}}
				</ul>
			</div>
			<div class="col-xs-6 text-right"><small>{{formatDate timestamp}}</small></div>
			<div class="col-xs-12"><h3>{{title}}</h3></div>
			<div class="col-xs-12"><small>{{name}}</small></div>
			<p>{{comment}}</p>
		</div>
		{{/each}}

		<h3 id="write" class="divider text-center">Write a review</h3>

		<section class="text-center">
			<ul class="list-inline" id="review-stars">
				{{#each reviewStars}}
					<li class="review-star"></li>
				{{/each}}
			</ul>

			<div><small>Rate this product</small></div>
		</section>

		<form id="review" novalidate>
			<input type="text" placeholder="Title" name="reviewTitle" id="reviewTitle">
			<textarea name="comment" placeholder="Comments" rows="8" id="comment"></textarea>
			<button class="button blue">Submit review</button>
		</form>
	</div>
</template>
