<template name="Charity">
	<div class="charity page">
		<section class="text-center">
			<a class="back-button" href="javascript:history.back()"><img src="/icons/small_arrow_gray.svg" alt="Back"></a>

			{{#if image}}
			<img src="{{https image.url}}" alt="{{name}} Logo">
			{{/if}}
			<h2>{{name}}</h2>

			<p class="col-xs-12">{{description}}</p>
		</section>

		<section id="bio" class="text-center">
			<h3>About</h3>
			<p>{{about}}</p>
		</section>
	</div>

	<section class="blue text-center">
			<h2>Support Us</h2>

			<p>Support "{{name}}" by donating to them directly, or by purchasing your newest gear from ChangeUp.</p>

			<a class="button white" href="/#featured">View Products</a>
			{{#if websiteLink}}
			<a class="button clear white" href="{{https websiteLink}}" target="_blank">Visit Website</a>
			{{/if}}
		</section>
</template>
