#overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 100;
    cursor: pointer;
    &.show {
    	display: inline-block;
    }
}

#create-shipping-account{
	//margin: 25vh auto;
}

#shipping-account-created .modal{
	margin: 25vh auto;
}

#site-wrapper {
	overflow: hidden;
}

#signupmodal, #signupToLike{
	.fb-like{
		position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
	}
	#popup_close{
		padding: 1rem 1.5rem;
		cursor: pointer;
		border-radius: 180px;
	}
	.modal-dialog {
		margin: 15vh auto;
	}
	.modal-body{
		position: relative;
		padding-top: 5rem;
		padding-bottom: 5rem;
		text-align: center;
		background: url('/images/background-about-header.png') no-repeat center right;
		background-size: cover;
		h2 {
			max-width: 400px;
			margin: 20px auto;
			margin-bottom : 1.5rem;
			line-height: 1.5em;
		}
		.button.login {
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
			margin: 1rem;
			padding: 1rem 2rem;
			color: white;
			background: #22addb;
		}
		.or-bar {
			max-width: 372px;
		}
		.floating-logo {
			width: 80px;
			height: 100px;
			margin-top: -130px;
			background-repeat: no-repeat;
		}
		h4 {
			margin-bottom: 2rem;
			font-size: 2em;
		}	
		form input {
			max-width: 300px;
			margin-bottom: 1.5rem;
			padding: 1.5rem 1rem;
			background-color: white;
		}
	}
}

#signupToLike{
	.modal-body{
		padding-top: 0;
		padding-bottom: 2rem;
	}
}
